h1.mt-3 ユーザー一覧

= link_to '新規登録', new_admin_user_path, class: 'btn btn-primary my-3'

.mb-3
table.table.table-hover
  thead.thead-default
    tr
      th = User.human_attribute_name(:name)
      th = User.human_attribute_name(:email)
      th = User.human_attribute_name(:admin)
      th = User.human_attribute_name(:created_at)
      th = User.human_attribute_name(:updated_at)

    tbody
      - @users.each do |user|
        tr
          td = link_to user.name, [:admin, user]
          td = user.email
          td = user.admin? ? 'あり' : 'なし'
          td = user.created_at
          td = user.updated_at
          td
            = link_to '編集', edit_admin_user_path(user), class: 'btn btn-primary me-3'
            = link_to '削除', [:admin, user], method: :delete, data: {confirm: "ユーザー「#{user.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger'

/ 開発本部 ｲﾝﾌﾗ開発部
/ 		ｲﾝﾌﾗｸﾞﾙｰﾌﾟ
/ 開発本部 開発部
/ 		開発1ｸﾞﾙｰﾌﾟ
/ 		開発3ｸﾞﾙｰﾌﾟ
/ 		開発4ｸﾞﾙｰﾌﾟ
/ 		開発5ｸﾞﾙｰﾌﾟ
/ 		開発6ｸﾞﾙｰﾌﾟ
/ 		開発7ｸﾞﾙｰﾌﾟ
/ 広告事業本部
/ 広告事業本部 ｱﾄﾞﾌﾟﾗｯﾄﾌｫｰﾑ部
/   ｱﾄﾞｵﾍﾟﾚｰｼｮﾝｸﾞﾙｰﾌﾟ
/   ｺﾝｻﾙﾀﾝﾄｸﾞﾙｰﾌﾟ
/   ｺﾝｻﾙﾀﾝﾄｸﾞﾙｰﾌﾟ ｺﾝｻﾙ1ﾁｰﾑ
/   ｺﾝｻﾙﾀﾝﾄｸﾞﾙｰﾌﾟ ｺﾝｻﾙ2ﾁｰﾑ
/   ﾃﾞｨﾚｸﾀｰｸﾞﾙｰﾌﾟ
/ 広告事業本部 ｴﾘｱ広告部
/   ﾃﾞｨﾚｸﾀｰｸﾞﾙｰﾌﾟ
/ 広告事業本部 ﾒﾃﾞｨｱｺﾝｻﾙﾃｨﾝｸﾞ部
/   ｺﾝｻﾙｸﾞﾙｰﾌﾟ ｺﾝｻﾙ1ﾁｰﾑ
/   ｺﾝｻﾙｸﾞﾙｰﾌﾟ ｺﾝｻﾙ2ﾁｰﾑ
/   事業推進ｸﾞﾙｰﾌﾟ
/ 広告事業本部 ﾒﾃﾞｨｱ企画部
/   ｵﾍﾟﾚｰｼｮﾝｸﾞﾙｰﾌﾟ
/   ﾒﾃﾞｨｱｸﾞﾙｰﾌﾟ
/   ﾒﾃﾞｨｱｸﾞﾙｰﾌﾟ ｺﾝｻﾙﾁｰﾑ
/   ﾒﾃﾞｨｱｸﾞﾙｰﾌﾟ ﾒﾃﾞｨｱﾁｰﾑ
/   ﾒﾃﾞｨｱｾｰﾙｽｸﾞﾙｰﾌﾟ 1ﾁｰﾑ
/ 広告事業本部 営業企画部
/   ｱｼｽﾀﾝﾄｸﾞﾙｰﾌﾟ ｱｼｽﾀﾝﾄﾁｰﾑ
/   ｾｰﾙｽ1ｸﾞﾙｰﾌﾟ ｾｰﾙｽ1ﾁｰﾑ
/   ｾｰﾙｽ2ｸﾞﾙｰﾌﾟ
/   ｾｰﾙｽ2ｸﾞﾙｰﾌﾟ ｾｰﾙｽ2ﾁｰﾑ
/   ｾｰﾙｽ2ｸﾞﾙｰﾌﾟ ｾｰﾙｽ3ﾁｰﾑ
/   ｾｰﾙｽ3ｸﾞﾙｰﾌﾟ
/   ｾｰﾙｽ3ｸﾞﾙｰﾌﾟ ｾｰﾙｽ4ﾁｰﾑ
/   ｾｰﾙｽ3ｸﾞﾙｰﾌﾟ ｾｰﾙｽ5ﾁｰﾑ
/   ｾｰﾙｽ3ｸﾞﾙｰﾌﾟ ｾｰﾙｽ6ﾁｰﾑ
/ 事業統括本部 事業開発部
/ 	事業開発ｸﾞﾙｰﾌﾟ
/ 事業統括本部 社長室
/ 事業統括本部 制作部
/ 	制作ｸﾞﾙｰﾌﾟ
/ 事業統括本部 統括部
/ 	統括ｸﾞﾙｰﾌﾟ 統括ﾁｰﾑ
/ 人事総務部
/ 	人事総務部付 休職
